{% extends 'myapp/base.html' %}
{%block main_content%}
<form class="" action="" method="get">
  <input type="date" name="date" value="{{date}}">
  <button type="submit">Submit</button>

</form>
<style media="screen">
  #container {
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
}
</style>
<div id="container">
  <table>
    <thead>

    </thead>
    <tbody>
      <tr>
        <th>Brand ID</th>
        <th>date</th>
      </tr>
      {%for brand in brands%}
      <tr>
        <th>{{brand.name}}</th>
        <th>{{date}}</th>
        <th>  <form class="" action="{%url 'Stock_create'%}" method="post">
            {%csrf_token%}
            <input type="text" name="brand" value="{{brand.id}}"hidden>
            <input type="date" name="date" value="{{date}}" hidden>
            <input type="text" name="quantity" value="{{brand.qty}}">
            <input type="submit"  value="submit">

          </form></th>

      </tr>
      {%endfor%}
    </tbody>
  </table>


</div>


{%endblock%}
