brand{% extends 'myapp/content.html' %}
{%block header%}

<div class="row">
  <div class="col-6">

  </div>
  <div class="col-3">
    <form class="" method="get">
      <div class="input-group mb-3">
        <span class="input-group-text border-0" id="search-addon"><i class="fas fa-search"></i></span>
        <input type="search" name='search' value="{{Search}}" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      </div>
    </form>
  </div>
</div>


{%endblock%}
{%block maindiv%}
<table class="table table-borderless table-md table-hover text-nowrap " cellspacing="0" width="100%">
  <thead class="table-primary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Numeric Code</th>
      <th scope="col">Short Code</th>
      <th scope="col">Type</th>

      <th scope="col">Marked price</th>
      <th scope="col">Bar Price</th>
      <th scope="col">Min Price</th>
      <th scope="col">Qty Damages</th>
      <th scope="col">Qty Sold</th>
      <th scope="col">Remarks</th>
    </tr>
  </thead>
  <tbody>
    {%for brand in brands%}
    <tr>
      <th scope="row">{{brand.name}}</th>
      <td>
        <span >
          <i class=""></i><span>{{brand.numericcode}}</span>
        </span>
      </td>
      <td>
        <span >
          <i class=""></i><span>{{brand.scode}}</span>
        </span>
      </td>
      <td>
        <span >
          <i class=""></i><span>{{brand.category}}</span>
        </span>
      </td>
      <td>
        <span >
          <i class=""></i><span>{{brand.price.mrp}}</span>
        </span>
      </td>
      <td>
        <span >
          <i class=""></i><span>{{brand.price.bp}}</span>
        </span>
      </td>
      <td>
        <span >
          <i class=""></i><span>{{brand.price.mp}}</span>
        </span>
      </td>
      <td>
        <span >
          <i class=""></i><span>{{brand.stock}}</span>
        </span>
      </td>
      <td>
        <span >
          <i class=""></i><span>{{brand.stock}}</span>
        </span>
      </td>
      <td>
        <span >
          <i class=""></i><span>-</span>
        </span>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
{%block sidediv%}
  <div class="row m-5">
    <div class="col-10">
      <form class="" action="" method="get">
      <div class="form-outline datepicker" data-mdb-inline="true">
        <input type="text" value='{{start}}'class="form-control" name="sdate" id="exampleDatepicker2" />
        <label for="exampleDatepicker2" class="form-label">Select a start date</label>
      </div>

      <div class="form-outline datepicker" data-mdb-inline="true">
        <input type="text" value='{{end}}'class="form-control" name="edate" id="exampleDatepicker2" />
        <label for="exampleDatepicker2" class="form-label">Select a end date</label>
      </div>
      <input type="submit" name="" value="submit">
    </form>

    </div>

  </div>

{%endblock%}
